.project-tag {
    position: absolute;
    top: 0;
    left: 0;
    background-color: yellow;
    border: 1px solid transparent;
    /* border-radius: 0px 3px 3px 0px; */
    border-bottom-right-radius: 3px;
    color: black;
    font-weight: bolder;
    font-family: monospace;
    font-size: medium;
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    transition-timing-function: linear;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }