:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
  --border-radius: 10px;
}

body {
  text-align: center;
  background-image: url('../../assets/fancy-pants.jpg');
  background-color: #242329;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
}
.controls {
  margin-bottom: 50px;
}
input {
  width: 100px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  border-radius: var(--border-radius);
  background-size: cover;
}

.hl {
  color: var(--base);
}
