body {
    background-image: url('../../assets/wild-sea.png');
    background-color: #FFA23B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: monospace;
    font-size: large;
    font-weight: bolder;
}