body {
  margin: 0;
  font-family: sans-serif;
  background: url("http://thepatternlibrary.com/img/an.jpg");
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 30px;
}

#bands {
  list-style: inside square;
  font-size: 20px;
  background: #fb7813;
  width: 500px;
  margin: auto;
  padding: 0;
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.05);
}

#bands li {
  border-bottom: 1px solid #efefef;
  padding: 20px;
  color: #f7f7ee;
}

#bands li:last-child {
  border-bottom: 0;
}

a {
  color: #ffc600;
  text-decoration: none;
}
