html {
  box-sizing: border-box;
  background-color: #111111;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23808080' fill-opacity='0.22'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
  
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;
  margin: 0;
}

.items {
  height: 85vh;
  padding: 100px;
  width: 100%;
  border: 1px solid white;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  font-size: 0;
  perspective: 500px;
}

.items.active {
  background: rgba(255, 255, 255, 0.1);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.item {
  width: 200px;
  height: calc(100% - 10px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 80px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.15);
}

.item:nth-child(5n + 1) {
  background: #2f855a;
}
.item:nth-child(5n + 2) {
  background: #38a169;
}
.item:nth-child(5n + 3) {
  background: #48bb78;
}
.item:nth-child(5n + 4) {
  background: #68d391;
}
.item:nth-child(5n + 5) {
  background: #9ae6b4;
}

.item:nth-child(5n + 6) {
  background: #b83280;
}
.item:nth-child(5n + 7) {
  background: #d53f8c;
}
.item:nth-child(5n + 8) {
  background: #ed64a6;
}
.item:nth-child(5n + 9) {
  background: #f687b3;
}
.item:nth-child(5n + 10) {
  background: #fbb6ce;
}

.item:nth-child(5n + 11) {
  background: #6B46C1;
}
.item:nth-child(5n + 12) {
  background: #805AD5;
}
.item:nth-child(5n + 13) {
  background: #9F7AEA;
}
.item:nth-child(5n + 14) {
  background: #B794F4;
}
.item:nth-child(5n + 15) {
  background: #D6BCFA;
}

.item:nth-child(5n + 16) {
  background: #C05621;
}
.item:nth-child(5n + 17) {
  background: #DD6B20;
}
.item:nth-child(5n + 18) {
  background: #ED8936;
}
.item:nth-child(5n + 19) {
  background: #F6AD55;
}
.item:nth-child(5n + 20) {
  background: #FBD38D;
}

.item:nth-child(5n + 21) {
  background: #C53030;
}
.item:nth-child(5n + 22) {
  background: #E53E3E;
}
.item:nth-child(5n + 23) {
  background: #F56565;
}
.item:nth-child(5n + 24) {
  background: #FC8181;
}
.item:nth-child(5n + 25) {
  background: #FEB2B2;
}

.item:nth-child(5n + 26) {
  background: #2C7A7B;
}
.item:nth-child(5n + 27) {
  background: #319795;
}
.item:nth-child(5n + 28) {
  background: #38B2AC;
}
.item:nth-child(5n + 29) {
  background: #4FD1C5;
}
.item:nth-child(5n + 30) {
  background: #81E6D9;
}



.item:nth-child(even) {
  transform: scaleX(1.31) rotateY(40deg);
}
.item:nth-child(odd) {
  transform: scaleX(1.31) rotateY(-40deg);
}
