body {
    background-image: url('../../assets/green-goblin.png');
    background-color: #8AAA00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: monospace;
    font-size: large;
    font-weight: bolder;
}